@model BoooooJu.Web.Core.ViewModels.Account.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_default.cshtml";
}
@using (Html.BeginForm())
{ 
    @Html.TextBoxFor(model => model.NickName, new { placeholder = "用户账号" , maxlength = "10" })
    @Html.ValidationMessageFor(model => model.NickName)


    @Html.PasswordFor(model => model.NickName, new { placeholder = "用户密码", maxlength = "16" })
    @Html.ValidationMessageFor(model => model.NickName)


    @Html.TextBoxFor(model => model.NickName, new { placeholder = "昵称" , maxlength = "15" })
    @Html.ValidationMessageFor(model => model.NickName)

    <label for="Sex">
        <label>男：<input type="radio" value="1" name="Sex" checked /></label>
        <label>
            女： <input type="radio" value="2" name="Sex" />
        </label>
    </label>  

        @Html.TextAreaFor(model => model.Pswd, new { placeholder = "个性签名", maxlength="30" })

        <input type="submit" value="提交" />
}
